<ion-content>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <app-button
          type="button"
          color="success"
          value="Pick Image"
          (click)="pickImage()"
          ></app-button>
        </ion-col>
        <ion-col>
          <app-button
          type="button"
          color="danger"
          value="Log Out"
          (click)="logOut()"
          ></app-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
  @if(img) {
    <img [src]="img">
  }
</ion-content>
